<h3>Hello from {{componentName}}</h3>
<h4>{{username}}</h4>
<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.valid)">
    <input type="text" maxlength="20"  formControlName="username" placeholder="username">
    <input type="email" placeholder="email" formControlName="email">
    <input type="password" maxlength="20" formControlName="password" placeholder="password">
    <input type="password" maxlength="20" formControlName="passwordConf" placeholder="confirm password">
    <button type="submit">Submit</button>
</form>


<h3>Login form</h3>
<form [formGroup]="loginForm" novalidate (ngSubmit)="onLogin(loginForm.valid)">
    <input type="email" placeholder="email" formControlName="logemail">
    <input type="password" maxlength="20" formControlName="logpassword" placeholder="password">
    <button type="submit">Submit</button>
</form>

<section>
    <button (click)="getSession()">Get session</button>
    <button (click)="logout()">Log out</button>
    <button (click)="getTime()">get Time</button>
</section>

<h3>Session info</h3>
<div>
    {{session | json}}
</div>
<br>
<nav>
    <a routerLink="/" routerLinkActive="active">Index</a>
    <a routerLink="/profile" routerLinkActive="active">Guest</a>
</nav>

<router-outlet></router-outlet>

<h4>{{currentTime}}</h4>